@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');


.mainFxmlClass {
}

.paneTitulo{
    -fx-background-color: #1F61CE;
}

 .lblGoogleDrive{
    -fx-font-size:20px;
 }   
.txtPesquisa{
    -fx-background-radius:20em;
    -fx-border-radius: 20 20 20 20;
}

.menuBox{
    -fx-background-color: #55A5E4;
    -fx-background-radius: 0 35 10 0;
}

.button1{
    -fx-background-color: #ffffff;
    -fx-text-fill: #2262c6;
    -fx-background-radius:20;
}
.button1:hover{

}

.button1:pressed{

}

.button2{
    -fx-background-color: #55A5E4;
    -fx-text-fill:  #2262c6;
    -fx-background-radius:20;
}

.button2:hover{
    -fx-background-color: #AAAAAA;
    -fx-background-radius: 20;

}

.button2:pressed{
    -fx-background-color: #e4eefd;
    -fx-background-radius: 20;

}

.paneCentral1{


}
.lblMeuDrive{
    -fx-font-size: 30px;
    -fx-font-family: 'Amatic SC', cursive;

}

.lblAcessoRapido{

}

.menuAcessoRapido{
    
}